name: 'Build and Release'
permissions:
    contents: write
on:
    push:
        branches:
            - main
# This workflow will draft a release if the package.json version has been updated or there is no release for the current version
jobs:
    build_and_release:
        name: Build and Release
        uses: sailpoint-oss/.github/.github/workflows/colab-saas-connectivity-release.yml@v1

